parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    ses_host: ~
    ses_access_key: ~
    ses_secret_key: ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    amazon_s3.key: ~
    amazon_s3.secret: ~
    amazon_s3.region: ~

    cache.host: ~
    queue.host: ~
