[
    {
        "name": "Steven Anderson",
        "title": "Jean Sullivan",
        "phone": "6-(767)284-3308",
        "isMobile": true,
        "coordinator_type": "technical",
        "contact_info": "jsullivan@devcast.edu"
    }
]