[
    {
        "id": 1,
        "name": "Martha Adams",
        "title": "Dorothy Greene",
        "phone": "1-(209)268-5699",
        "isMobile": true,
        "coordinator_type": "primary",
        "contact_info": "dgreene@photofeed.biz"
    },
    {
        "id": 2,
        "name": "Angela Fuller",
        "title": "Paula Morgan",
        "phone": "4-(713)552-9535",
        "isMobile": true,
        "coordinator_type": "non-technical",
        "contact_info": "pmorgan@dablist.org"
    },
    {
        "id": 3,
        "name": "Norma Cole",
        "title": "Walter Dixon",
        "phone": "2-(576)519-7182",
        "isMobile": true,
        "coordinator_type": "primary",
        "contact_info": "wdixon@babblestorm.gov"
    },
    {
        "id": 4,
        "name": "Albert Weaver",
        "title": "Timothy Cooper",
        "phone": "6-(597)773-4457",
        "isMobile": false,
        "coordinator_type": "technical",
        "contact_info": "tcooper@bluejam.net"
    },
    {
        "id": 5,
        "name": "Anthony Wright",
        "title": "Joe Little",
        "phone": "3-(913)744-3020",
        "isMobile": false,
        "coordinator_type": "primary",
        "contact_info": "jlittle@jayo.biz"
    },
    {
        "id": 6,
        "name": "Todd Sims",
        "title": "Jeffrey Burns",
        "phone": "3-(141)180-5740",
        "isMobile": true,
        "coordinator_type": "non-technical",
        "contact_info": "jburns@dynazzy.name"
    },
    {
        "id": 7,
        "name": "Teresa Diaz",
        "title": "Kathleen Brown",
        "phone": "0-(768)855-8125",
        "isMobile": false,
        "coordinator_type": "non-technical",
        "contact_info": "kbrown@tagchat.net"
    },
    {
        "id": 8,
        "name": "Terry Hudson",
        "title": "Paula Ford",
        "phone": "3-(583)000-8591",
        "isMobile": true,
        "coordinator_type": "primary",
        "contact_info": "pford@aibox.name"
    },
    {
        "id": 9,
        "name": "Fred Simmons",
        "title": "Judith Garcia",
        "phone": "7-(237)149-2413",
        "isMobile": true,
        "coordinator_type": "primary",
        "contact_info": "jgarcia@jetpulse.info"
    },
    {
        "id": 10,
        "name": "George Mendoza",
        "title": "Christopher Larson",
        "phone": "3-(070)765-6712",
        "isMobile": true,
        "coordinator_type": "technical",
        "contact_info": "clarson@buzzbean.org"
    }
]